
// Variables colors
$darkBlue: hsl(228, 39%, 23%);
$brightRed:  hsl(11,87,59);
$veryDarkBlue:  hsl(229,37,22);
$veryLightGray: hsl(0, 0%, 98%);
$veryPaleRed: hsl(13, 100%, 96%);
$darkGrayishBlue:  hsl(221,7,68);

// Variables margin and widths

$equalSizeMargin: auto auto;
$fullPercentWidth: 100%;
$nityPercentWidth: 90%;